<%- include('partials/header')%>
    
    <main id="login-form">
        <form action="">
            <h1>Log In</h1>
            <input type="email" name="email" id="" placeholder="Email Address">
            <input type="password" name="password" id="" placeholder="Password">
            <input type="submit" value="Log In">
            <p>Don't have an account? <a href="/signup">Create one</a></p>
        </form>
    </main>


<%- include('partials/footer')%>