@font-face {
    font-family: Montserrat-Bold;
    src: url(Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(Montserrat-Light.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat-Regular;
}
.container {
    padding-left: 150px;
    padding-right: 150px;
}

.error {
    background-color: #f00;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 5px;
}
header {
    background-color: #EAEFF2;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a {
    text-decoration: none;
    color: #00e0d4;
}
nav li {
    display: inline;
    padding: 10px;
    padding-bottom: 0;
    font-size: 18px;
    transition: .2s;
}
nav li:hover {
    transition: .2s;
    border-bottom: 2px solid #00e0d4;
}

#login-form, #signup-form {
    height: 100vh;
    display: grid;
    place-items: center;
}

#login-form form, #signup-form form {
    background-color: #EAEFF2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
}

#login-form  h1, #signup-form  h1 {
    text-align: center;
    font-size: 26px;
}

#login-form input, #signup-form input {
    font-size: 25px;
    padding: 8px;
}
#login-form input[type='submit'], #signup-form input[type='submit'] {
    background-color: #00e0d4;
    border: 1px solid #00e0d4;
    font-family: Montserrat-Bold;
    letter-spacing: 2px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 23px;
    transition: .4s;
}
#login-form input[type='submit']:hover, #signup-form input[type='submit']:hover {
    cursor: pointer;
    letter-spacing: 5px;
    transition: .4s;
}
#login-form a, #signup-form a {
    text-decoration: none;
    font-family: Montserrat-Bold;
    color: black;
    transition: .4s;
}
#login-form a:hover, #signup-form a:hover {
    letter-spacing: 2px;
    transition: .5s;
}

#profile {
    text-align: center;
}
#profile img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 2px double #00e0d4;
    margin-top: 40px;
}
#profile a {
    text-decoration: none;
    background-color: #008000;
    color: #fff;
    letter-spacing: 3px;
    font-size: 18px;
    padding: 8px;
    border-radius: 10px;
    transition: .4s;
}
#profile a:hover {
    letter-spacing: 5px;
    transition: .4s;
}
#edit-profile form {
    margin-top: 15px;
}
#edit-profile .form-input {
    display: flex;
    margin-bottom: 10px;
}
#edit-profile .form-input * {
    font-size: 20px;
}
#edit-profile .form-input label {
    width: 20%;
}
#edit-profile input[type='submit'] {
    border: 1px solid  #008000;
    text-decoration: none;
    background-color: #008000;
    color: #fff;
    letter-spacing: 3px;
    font-size: 18px;
    padding: 8px;
    border-radius: 10px;
    transition: .4s;
}
#edit-profile input[type='submit']:hover {
    letter-spacing: 5px;
    cursor: pointer;
}
#edit-profile a {
    position: relative;
    top: 20px;
    border: 1px solid  red;
    text-decoration: none;
    background-color: red;
    color: #fff;
    letter-spacing: 3px;
    width: max-content;
    font-size: 18px;
    padding: 8px;
    border-radius: 10px;
    transition: .4s;
}
#edit-profile a:hover {
    letter-spacing: 6px;
}
#questions {
    padding-top: 10px;
    padding-bottom: 15px;
}
#questions .question {
    font-family: Montserrat-Bold;
    font-size: 23px;
    margin: 10px 0;
}
#questions .question:hover {
    cursor: default;
}
#questions .choice {
    background-color: #e7e9eb;
    padding: 8px;
    margin-bottom: 2px;
    font-size: 17px;
}
#questions .choice:hover {
    background-color: #c9cacb;
    cursor: pointer;
}
#questions input[type="submit"] {
    background-color: #00E0D4;
    border: 1px solid #00E0D4;
    font-family: Montserrat-Bold;
    letter-spacing: 2px;
    font-size: 25px;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
}

#dashboard div {
    height: 200px;
    width: 200px;
    background-color: #e7e9eb;
    border-radius: 10px;
    display: grid;
    place-items: center;
    transition: .4s;
}
#dashboard div:hover {
    cursor: pointer;
    letter-spacing: 3px;
    transition: .7s;
    font-weight: bold;
}
#dashboard a {
    text-decoration: none;
    color: #05445e;
}